html,
body {
  margin: 0;
  height: 100%;

 
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
}


.header img {
  width: 50px;
  height: 50px;
  margin-right: 20px;
  height: auto;

}

.score {
  color: #fff;
  text-align: center;
  font-size: 35px;
  font-weight: 800;
  user-select: auto;
}

.circle {
  position: relative;
}


.circle img {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  transition: transform 0.6s ease;
  --tiltX: 1deg;
  --tiltY: 1deg;
  transform: rotateX(var(--tiltX)) rotateY(var(--tiltY));
}

.plus-one {
  position: absolute;
  font-family: Inter;
  text-shadow: 0px 0px 4px rgba(209, 208, 206, 0.25);
  font-size: 40px;
  font-weight: 800;
  background: linear-gradient(180deg, #e8c547 0%, #8e8d8c 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  pointer-events: none;
  user-select: none;
  animation: move-up 2s forwards;
}

@keyframes move-up {
  0% {
    opacity: 4;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-50px);
  }
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #870707;
}

#container {
  width: 80%;
  height: 50px;
  border: 1px solid #ccc;
  overflow: hidden;
  position: relative;
}

center-image {
  max-width: 100%;
  max-height: 100%;
}

#bar {
  height: 100%;
  width: 100%;

  transition: width 0.2s;
}

